@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 100;
  src: url(BebasNeue-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 200;
  src: url(BebasNeue-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 300;
  src: url(BebasNeue-Book.ttf) format('truetype');
}
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: url(BebasNeue-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 700;
  src: url(BebasNeue-Bold.ttf) format('truetype');
}
